.container-block{
    margin-top: 40px;
    margin-left: 30px;
}

.div{
    font-size: 20px;
}

.input-field{
    height: 30px;
    width: 250px;
}

.gender{
    font-size: 20px;
}

.button{
    margin-left: 10px;
    height: 30px;
    width: 150;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   

}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.btn-container-block{
    margin-left: 50px;
    margin-top: 40px;
}